<div class="hero">
  <div class="background">
    <img src="{{ movie?.thumbnailUrl }}" alt="{{ movie?.title }}" class="image"/>
  </div>
  <div class="content">
    <h1 class="title">{{ movie?.title }}</h1>
    <p class="description">{{ movie?.description }}</p>
    <div class="actions">
        <button class="btn playBtn">
            <lucide-icon [img]="Play" class="icon"></lucide-icon>
            Lecture
        </button>
        <button class="btn">
            <lucide-icon [img]="Info" class="icon"></lucide-icon>
            Plus d'infos
        </button>
        @if (showBtnFavorites) {
            @if (isInFavorites) {
                <button class="btn" (click)="auth.removeUserFavorite(movie?.id!)">
                    <lucide-icon [img]="Check" class="icon"></lucide-icon>
                    Retirer de ma liste
                </button>
            } @else {
                <button class="btn" (click)="auth.addUserFavorite(movie?.id!)">
                    <lucide-icon [img]="Plus" class="icon"></lucide-icon>
                    Ajouter à ma liste
                </button>
            }
        }
    </div>
  </div>
</div>
