/* You can add global styles to this file, and also import other style files */

:root {
  --background: #000000;
  --foreground: #ffffff;
  --primary: #cb09e5;
  --secondary: #e5e5e5;
  --gray-dark: #333333;
  --gray-light: #808080;
  --font-base: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-base);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}